/* Coolors Exported Palette - coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */


/* RGB */
$red: rgba(230, 57, 70, 1);
$white: rgba(241, 250, 238, 1);
$teal: rgba(168, 218, 220, 1);
$blue1: rgba(69, 123, 157, 1);
$blue2: rgba(29, 53, 87, 1);

$heightOfRow: 100px;

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #ECE9E6;
}
p, h1, h2, h3, h4, h5, h6, div{
  font-family: 'Nixie One', cursive;
}
.container {
  margin: 3vh;
  height: 94vh;
  width: auto;
}
.pure-u-3-4{
  .chartcontainer{
    height: $heightOfRow !important;
    padding: 2% !important;
    // we need this to make it scale correctly.
    canvas{
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.weatherIcon{
  font-size: 200%;
}
.weather-day{
  text-align: center;
}

.time{
  text-align: center;
  background: white;
  span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 1rem;
  }
}

.news {
  text-align: center;
  background: white;
}


.tempContainer{
    margin-left: 3vh;
    width: 100%;
}
.articleImage{
  width: 30%;
}

.weather {
  background: white;
  margin-left: 3vh;
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1rem;
  }
}

.temp-part{
  margin-left: 3vh;
}

.topper {
  margin-bottom: 3vh;
}

.unit-stat{
  .statsText {
    text-align: center;
  }

  span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 1rem;
  }
    background: white;
    margin-bottom: 3vh;
}





.red{
  color: $red;
}

.teal{
  color: $teal;
}
